  <h2>Welcome <%=@player_1%> and <%=@player_2%>!</h2>

<body>
<%=@player_1%>: 60/60 HP
<br>
<%=@player_2%>: 60/60 HP
<br>
<br>
Action: <%=@player_1%> attacks <%=@player_2%>!
<br>
Response: <%=@player_2%>: Bitch!
<form action='/attack' method='get'>
<div><input type='submit' value ='Attack'></div>
</form>
</body>
