<h2>Commence Battle!! <%=@game.player1.name%> - vs - <%=@game.player2.name%>!</h2>
<body>
  <p><%=@game.player1.name%>: <%=@game.player1.hp%>/60 HP</p>
  <p><%=@game.player2.name%>: <%=@game.player2.hp%>/60 HP</p>
  <p><%=@game.current.name%>'s turn</p>
  <form action='/attack' method='get'>
  <div><input type='submit' value ='Attack'></div>
  </form>
</body>
